@model Bibliotekarz.Model.HomeViewModel

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Autor</th>
                <th scope="col">Liczba stron</th>
                <th scope="col">Czy wypożyczona</th>
                <th scope="col">Imię wypożyczającego</th>
                <th scope="col">Nazwisko wypożyczającego</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.BookList)
            {
                <tr>
                    <th scope="row">@book.Id</th>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.PageCount</td>
                    <td>@(book.IsBorrowed ? "Tak" : "Nie")</td>
                    <td>@book.Borrower?.FirstName</td>
                    <td>@book.Borrower?.LastName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
